@model Inventory_App.DTOs.ProductDTO

<h1>Eliminar producto</h1>

<form asp-action="DeleteProduct" asp-controller="Inventory" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name">Nombre</label>
        <input asp-for="Name" class="form-control" disabled/>
    </div>
    <div class="mb-3">
        <label asp-for="Description">Detalle</label>
        <input asp-for="Description" class="form-control" disabled />
    </div>
    <div class="mb-3">
        <label asp-for="Cuantity">Cantidad</label>
        <input asp-for="Cuantity" class="form-control" disabled />
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-controller="Inventory" asp-action="Inventory" class="btn btn-secondary">Cancel</a>
    </div>
</form>
